{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load templatehelpers %}
<!-- Load widget tweaks -->
{% block content %}
    <div class="container">
        <div class="column is-half m-auto" x-data="{ mufiltre: false }">
            <a href="{% url 'transactiontable_view_name' %}" class="button is-link">Listeye Dön</a>
            <a class="button is-link" x-on:click="mufiltre = !mufiltre">Filtre</a>
            <div class="box"  x-bind:class="{ 'is-hidden': mufiltre }">
                <!-- Filter Form -->
                <form method="get">
                    <div class="field">
                        <label class="label" for="{{ filter.form.islemsahibi.id_for_label }}">Islem Sahibi</label>
                        <div class="control">{{ filter.form.islemsahibi|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.kimden_geldi.id_for_label }}">Kimden Geldi</label>
                        <div class="control">{{ filter.form.kimden_geldi|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.kime_gitti.id_for_label }}">Kime Gitti</label>
                        <div class="control">{{ filter.form.kime_gitti|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.islem_tarihi.start.id_for_label }}">Islem Tarihi</label>
                        <div class="control">
                            {{ filter.form.islem_tarihi|add_class:"input date-picker" }}
                            {% comment %} <input type="text" placeholder="Baslangic" name="islem_tarihi_after" id="id_islem_tarihi_0" class="aaa input date-picker">
                            <input type="text" placeholder="Bitis" name="islem_tarihi_before" id="id_islem_tarihi_1" class="aaa input date-picker"> {% endcomment %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.exelusers.id_for_label }}">Excel Kullanicilari</label>
                        <div class="control">{{ filter.form.exelusers|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.tags.id_for_label }}">Tags</label>
                        <div class="control">{{ filter.form.tags|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.islem_ismi.id_for_label }}">Islem Ismi</label>
                        <div class="control">{{ filter.form.islem_ismi|add_class:"input custom-class" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.currency.id_for_label }}">Currency</label>
                        <div class="control">{{ filter.form.currency|add_class:"select select22" }}</div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ filter.form.miktar.id_for_label }}">Miktar</label>
                        <div class="control">{{ filter.form.miktar|add_class:"input" }}</div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary">Apply Filter</button>
                    </div>
                </form>
            </div>
        </div>
        <h1 class="title has-text-centered">Silinen İşlem Tablosu</h1>
        <!-- Render the table with pagination and sorting -->
        {% render_table table %}
    </div>
    <script>
        // In your JavaScript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select22').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
<script>
    // Initialize flatpickr with Turkish locale and date format
    flatpickr(".date-picker", {
        locale: {
            firstDayOfWeek: 0, // Start with Monday
            weekdays: {
                shorthand: ["Pzt", "Sal", "Çar", "Per", "Cum", "Cmt", "Paz"],
                longhand: [
                    "Pazartesi",
                    "Salı",
                    "Çarşamba",
                    "Perşembe",
                    "Cuma",
                    "Cumartesi",
                    "Pazar"
                ]
            },
            months: {
                shorthand: [
                    "Oca",
                    "Şub",
                    "Mar",
                    "Nis",
                    "May",
                    "Haz",
                    "Tem",
                    "Ağu",
                    "Eyl",
                    "Eki",
                    "Kas",
                    "Ara"
                ],
                longhand: [
                    "Ocak",
                    "Şubat",
                    "Mart",
                    "Nisan",
                    "Mayıs",
                    "Haziran",
                    "Temmuz",
                    "Ağustos",
                    "Eylül",
                    "Ekim",
                    "Kasım",
                    "Aralık"
                ]
            }
        },
        dateFormat: "d/m/Y", // Turkish date format (day/month/year)
        // defaultDate: "today", // Set the default date to today
    });
</script>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1>TableBir</h1>
    <!-- Filter Form -->
    <form method="get">
        {{ filter.form.as_p }}
        <button class="button is-primary" type="submit">Filtrele</button>
    </form>
    <!-- Render the table with pagination and sorting -->
    {% render_table table %}
    <script>
            // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select22').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
<script>
    // Initialize flatpickr with Turkish locale and date format
    flatpickr(".aaa", {
        // mode: "range",
        locale: {
            firstDayOfWeek: 0, // Start with Monday
            weekdays: {
                shorthand: ["Pzt", "Sal", "Çar", "Per", "Cum", "Cmt", "Paz"],
                longhand: [
                    "Pazartesi",
                    "Salı",
                    "Çarşamba",
                    "Perşembe",
                    "Cuma",
                    "Cumartesi",
                    "Pazar"
                ]
            },
            months: {
                shorthand: [
                    "Oca",
                    "Şub",
                    "Mar",
                    "Nis",
                    "May",
                    "Haz",
                    "Tem",
                    "Ağu",
                    "Eyl",
                    "Eki",
                    "Kas",
                    "Ara"
                ],
                longhand: [
                    "Ocak",
                    "Şubat",
                    "Mart",
                    "Nisan",
                    "Mayıs",
                    "Haziran",
                    "Temmuz",
                    "Ağustos",
                    "Eylül",
                    "Ekim",
                    "Kasım",
                    "Aralık"
                ]
            }
        },
        dateFormat: "d/m/Y", // Turkish date format (day/month/year)
        // defaultDate: "today", // Set the default date to today
    });
</script>
{% endblock content %} {% endcomment %}
{% comment %} {% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1>TableBir</h1>
    <!-- Filter Form -->
    <form method="get">
        {{ filter.form.as_p }}
        <button class="button is-primary" type="submit">Filtrele</button>
    </form>
    <!-- Render the table with pagination and sorting -->
    {% render_table table %}
    <script>
            // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select22').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
{% endblock content %} {% endcomment %}
