{% extends "base.html" %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h2 class="title has-text-centered">İşlem Detayı</h2>
            <div class="content">
                <p>
                    <strong>Tarih:</strong> {{ transaction.islem_tarihi }}
                </p>
                
                <p>
                    <strong>Islem Durumu:</strong> {{ transaction.islemler_type }}
                </p>
                <p>
                    <strong>Kimden Geldi:</strong> {{ transaction.kimden_geldi }}
                </p>
                <p>
                    <strong>Kime Gitti:</strong> {{ transaction.kime_gitti }}
                </p>
                <p>
                    <strong>Excel kullanıcıları:</strong>
                    {% if transaction.exelusers.all %}{{ transaction.exelusers.all|join:', ' }}{% endif %}
                </p>
                <p>
                    <strong>Harcama Kalemi:</strong>
                    {% if transaction.tags.all %}{{ transaction.tags.all|join:', ' }}{% endif %}
                </p>
                <p>
                    <strong>İşlem İsmi:</strong> {{ transaction.islem_ismi }}
                </p>
                <p>
                    <strong>İşlem Açıklaması:</strong> {{ transaction.islem_aciklamasi }}
                </p>
                <p>
                    <strong>Para Birimi:</strong> {{ transaction.currency.name }}
                </p>
                <p>
                    <strong>Miktar:</strong> {{ transaction.miktar }}
                </p>
                <p>
                    <strong>İşlem Resmi:</strong>
                    {% if transaction.islemler_picture.all %}{{ transaction.islemler_picture.all|join:', ' }}{% endif %}
                </p>
                <p>
                    <strong>İşlem PDF:</strong>
                    {% if transaction.islemler_pdf.all %}{{ transaction.islemler_pdf.all|join:', ' }}{% endif %}
                </p>
                <!-- Add more details here as needed -->
                <!-- Date added here -->
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a href="{% url 'transactionlist_view_name' %}" class="button is-link">Listeye Geri Dön</a>
                </div>
                <div class="control">
                    <a href="{% url 'transactionupdate_view_name' transaction.pk %}" class="button is-info">Islemi Duzenle</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
