{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-3">
        <div class="columns">
            <div class="column is-three-fifths m-auto">
                <div class="box">
                    <!-- Filtering Form -->
                    <form method="get">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kullanıcı</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.user|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kimden Geldi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.kimden_geldi|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kime Gitti</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.kime_gitti|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Para Birimi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.currency|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Harcama Kalemi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.tags|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Start Date Filter -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Başlangıç Tarihi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" class="input date-picker" name="start_date" id="start_date" value="{{ start_date }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Date Filter -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Bitiş Tarihi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" class="input date-picker" name="end_date" id="end_date" value="{{ end_date }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Filtrele</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h1 class="title has-text-centered">Bütün İşlem Tablosu</h1>
        <div class="table-container">
            <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>İslem Tarihi</th>
                        <th>İslem Sahibi</th>
                        <th>Kimden Geldi</th>
                        <th>Kime Gitti</th>
                        <th>Harcama Kalemi</th>
                        <th>İşlem İsmi</th>
                        <th>İşlem Açıklaması</th>
                        <th>Para Birimi</th>
                        <th>Miktar</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.islem_tarihi|date:"j F Y" }}</td>
                            <td>{{ transaction.islemsahibi }}</td>
                            <td>{{ transaction.kimden_geldi|default:"" }}</td>
                            <td>{{ transaction.kime_gitti|default:"" }}</td>
                            <td>
                                {% for tag in transaction.tags.all %}
                                    {{ tag.name }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ transaction.islem_ismi }}</td>
                            <td>{{ transaction.islem_aciklamasi }}</td>
                            <td>{{ transaction.currency.name }}</td>
                            <td>{{ transaction.miktar }}</td>
                            <td>
                                <div class="control">
                                    <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} href="{% url 'transactionupdate_view_name' transaction.pk %}" class="button is-info">Islemi Duzenle</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <div class="pagination is-centered" role="navigation">
            <ul class="pagination-list">
                {% if transactions.has_previous %}
                    <li>
                        <a class="pagination-link" href="?page=1{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">«</a>
                    </li>
                    <li>
                        <a class="pagination-link" href="?page={{ transactions.previous_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">previous</a>
                    </li>
                {% endif %}
                <li>
                    <span class="pagination-ellipsis">…</span>
                </li>
                <li>
                    <span class="pagination-link is-current">{{ transactions.number }}</span>
                </li>
                <li>
                    <span class="pagination-ellipsis">…</span>
                </li>
                {% if transactions.has_next %}
                    <li>
                        <a class="pagination-link" href="?page={{ transactions.next_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">next</a>
                    </li>
                    <li>
                        <a class="pagination-link" href="?page={{ transactions.paginator.num_pages }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">»</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Initialize Select2 -->
    <script>
        $(document).ready(function () {
            $(".select2").select2({
            });
        });
    </script>
    <script>
        // Initialize flatpickr with Turkish locale and date format
        flatpickr(".date-picker", {
            locale: {
                firstDayOfWeek: 0, // Start with Monday
                weekdays: {
                    shorthand: ["Pzt", "Sal", "Çar", "Per", "Cum", "Cmt", "Paz"],
                    longhand: [
                        "Pazartesi",
                        "Salı",
                        "Çarşamba",
                        "Perşembe",
                        "Cuma",
                        "Cumartesi",
                        "Pazar"
                    ]
                },
                months: {
                    shorthand: [
                        "Oca",
                        "Şub",
                        "Mar",
                        "Nis",
                        "May",
                        "Haz",
                        "Tem",
                        "Ağu",
                        "Eyl",
                        "Eki",
                        "Kas",
                        "Ara"
                    ],
                    longhand: [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz",
                        "Ağustos",
                        "Eylül",
                        "Ekim",
                        "Kasım",
                        "Aralık"
                    ]
                }
            },
            dateFormat: "d/m/Y", // Turkish date format (day/month/year)
            // defaultDate: "today", // Set the default date to today
        });
    </script>
{% endblock %}
