{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="title has-text-centered">Transaction Table</h1>
        <div class="table-container">
            <table class="table is-bordered is-striped is-narrow is-hoverable">
                <thead>
                    <tr>
                        <th>Kimden Geldi</th>
                        <th>Kime Gitti</th>
                        <th>Tags</th>
                        <th>İşlem İsmi</th>
                        <th>İşlem Açıklaması</th>
                        <th>Bakiye İlk TL</th>
                        <th>Girdiler TL</th>
                        <th>Çıktılar TL</th>
                        <th>Bakiye İlk Euro</th>
                        <th>Girdiler Euro</th>
                        <th>Çıktılar Euro</th>
                        <th>Bakiye İlk Dolar</th>
                        <th>Girdiler Dolar</th>
                        <th>Çıktılar Dolar</th>
                        <th>Bakiye İlk GBP</th>
                        <th>Girdiler GBP</th>
                        <th>Çıktılar GBP</th>
                        <th>Bakiye İlk Sek</th>
                        <th>Girdiler Sek</th>
                        <th>Çıktılar Sek</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.kimden_geldi }}</td>
                            <td>{{ transaction.kime_gitti }}</td>
                            <td>
                                {% for tag in transaction.tags.all %}{{ tag.name }}{% endfor %}
                            </td>
                            <td>{{ transaction.islem_ismi }}</td>
                            <td>{{ transaction.islem_aciklamasi }}</td>
                            <td>{{ transaction.bakiye_ilk_TL }}</td>
                            <td>{{ transaction.girdiler_TL }}</td>
                            <td>{{ transaction.ciktilar_TL }}</td>
                            <td>{{ transaction.bakiye_ilk_Euro }}</td>
                            <td>{{ transaction.girdiler_Euro }}</td>
                            <td>{{ transaction.ciktilar_Euro }}</td>
                            <td>{{ transaction.bakiye_ilk_Dolar }}</td>
                            <td>{{ transaction.girdiler_Dolar }}</td>
                            <td>{{ transaction.ciktilar_Dolar }}</td>
                            <td>{{ transaction.bakiye_ilk_GBP }}</td>
                            <td>{{ transaction.girdiler_GBP }}</td>
                            <td>{{ transaction.ciktilar_GBP }}</td>
                            <td>{{ transaction.bakiye_ilk_Sek }}</td>
                            <td>{{ transaction.girdiler_Sek }}</td>
                            <td>{{ transaction.ciktilar_Sek }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
