{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-3">
        <div class="columns">
            <div class="column is-three-fifths m-auto">
                <div class="box">
                    <!-- Filtering Form -->
                    <form method="get">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kullanıcı</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.user|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kimden Geldi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.kimden_geldi|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Kime Gitti</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.kime_gitti|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Para Birimi</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.currency|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Etiketler</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.tags|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Year Filter -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Year</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.date_filter_year|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Month Filter -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Month</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.date_filter_month|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Day Filter -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Day</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">{% render_field filter_form.date_filter_day|add_class:"select is-fullwidth is-info select2" %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Filtrele</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h1 class="title has-text-centered">Bütün İşlem Tablosu</h1>
        <div class="table-container">
            <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>İslem Tarihi</th>
                        <th>İslem Sahibi</th>
                        <th>Kimden Geldi</th>
                        <th>Kime Gitti</th>
                        <th>Etiketler</th>
                        <th>İşlem İsmi</th>
                        <th>İşlem Açıklaması</th>
                        <th>Para Birimi</th>
                        <th>Miktar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.islem_tarihi|date:"j F Y" }}</td>
                            <td>{{ transaction.islemsahibi }}</td>
                            <td>{{ transaction.kimden_geldi|default:"" }}</td>
                            <td>{{ transaction.kime_gitti|default:"" }}</td>
                            <td>
                                {% for tag in transaction.tags.all %}
                                    {{ tag.name }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ transaction.islem_ismi }}</td>
                            <td>{{ transaction.islem_aciklamasi }}</td>
                            <td>{{ transaction.currency.name }}</td>
                            <td>{{ transaction.miktar }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Initialize Select2 -->
    <script>
        $(document).ready(function () {
            $(".select2").select2({
            });
        });
    </script>
{% endblock %}
