{% extends "admin-pro/src/main/index.html" %} {% comment %} {% extends "base.html" %} {% endcomment %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <h2 class="card-title text-center">Harcama Kalemi Detayı</h2>
        <div class="card-body">
          <p class="card-text"><strong>Harcama Kalemi İsmi :</strong> {{ tag.name }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="{% url 'tagupdate_view_name' tag.slug %}" class="btn btn-primary">Düzenle</a>
          <a href="{% url 'tagdelete_view_name' tag.slug %}" class="btn btn-danger">Sil</a>
          <a href="{% url 'taglist_view_name' %}" class="btn btn-link">Harcama Kalemi Listesine Dön</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box mt-4">
      <h2 class="title has-text-centered">Harcama Kalemi Detayı</h2>
      <div class="content">
        <p><strong>Harcama Kalemi İsmi :</strong> {{ tag.name }}</p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <a href="{% url 'tagupdate_view_name' tag.slug %}" class="button is-primary">Düzenle</a>
        </div>
        <div class="control">
          <a href="{% url 'tagdelete_view_name' tag.slug %}" class="button is-danger">Sil</a>
        </div>
        <div class="control">
          <a href="{% url 'taglist_view_name' %}" class="button is-link">Harcama Kalemi Listesine Dön</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %} {% endblock content %}
