{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h2 class="title has-text-centered">
                {% if tag %}
                    Harcama Kalemi Düzenle
                {% else %}
                    Harcama Kalemi Oluştur
                {% endif %}
            </h2>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ form.name.id_for_label }}" class="label">Harcama Kalemi İsmi Giriniz</label>
                    <div class="control">{% render_field form.name class="input" placeholder="Enter tag name" %}</div>
                </div>
                <div class="field">
                    <label for="{{ form.is_active.id_for_label }}" class="label">Aktif</label>
                    <div class="control">{% render_field form.is_active class="checkbox" %}</div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            {% if tag %}
                                Düzenle
                            {% else %}
                                Oluştur
                            {% endif %}
                        </button>
                    </div>
                    <div class="control">
                        <a href="{% url 'taglist_view_name' %}" class="button is-link">Harcama Kalemi Listesine Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h2 class="title has-text-centered">
                {% if tag %}
                Harcama Kalemi Düzenle
                {% else %}
                Harcama Kalemi Oluştur
                {% endif %}
            </h2>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ form.name.id_for_label }}" class="label">Harcama Kalemi İsmi Giriniz</label>
                    <div class="control">{% render_field form.name class="input" placeholder="Enter tag name" %}</div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            {% if tag %}
                                Düzenle
                            {% else %}
                                Oluştur
                            {% endif %}
                        </button>
                    </div>
                    <div class="control">
                        <a href="{% url 'taglist_view_name' %}" class="button is-link">Harcama Kalemi Listesine Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} {% endcomment %}
