{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% block content %}
    <div class="column is-half m-auto" x-data="{ mufiltre: false }">
        <a class="button is-link" href="{% url "taglist_view_name" %}">Harcama Kalemi Listesi</a>
        <a class="button is-link" x-on:click="mufiltre = !mufiltre">Filtre</a>
        <div class="box" x-bind:class="{ 'is-hidden': mufiltre }">
            <!-- Filter Form -->
            <form method="get">
                {% comment %} <div class="field">
                    <label class="label" for="{{ filter.form.islem_tarihi.start.id_for_label }}">Islem Tarihi</label>
                    <div class="control">{{ filter.form.islem_tarihi|add_class:"input date-picker" }}</div>
                </div> {% endcomment %}
                {% comment %} <div class="field">
                    <label class="label" for="{{ filter.form.etkinlik_last_updated.start.id_for_label }}">Son Degistirilme Tarihi</label>
                    <div class="control">{{ filter.form.etkinlik_last_updated|add_class:"input date-picker" }}</div>
                </div> {% endcomment %}
                <div class="field">
                    <label class="label" for="{{ filter.form.name.id_for_label }}">Isim</label>
                    <div class="control">{{ filter.form.name|add_class:"select select22" }}</div>
                </div>
                {% comment %} <div class="field">
                    <label class="label" for="{{ filter.form.etkinlik_name.id_for_label }}">Etkinlik Ismi</label>
                    <div class="control">{{ filter.form.etkinlik_name|add_class:"input custom-class" }}</div>
                </div>
                <div class="field">
                    <label class="label" for="{{ filter.form.etkinlik_tags.id_for_label }}">Harcama Kalemleri</label>
                    <div class="control">{{ filter.form.etkinlik_tags|add_class:"select select22" }}</div>
                </div> {% endcomment %}
                <div class="control">
                    <button type="submit" class="button is-primary">Filterele</button>
                </div>
            </form>
        </div>
        <h1 class="has-text-centered has-text-weight-bold is-size-3">Harcama Kalemi Silinenler Listesi</h1>
        <div class="table-responsive">{% render_table table %}</div>
    </div>
    <script>
        // In your JavaScript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select22').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
{% endblock content %}
