{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load embed_video_tags %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <!-- evrak_detail.html -->
            <h1 class="has-text-centered has-text-weight-bold is-size-3">Etkinlik Detayı</h1>
            <div class="block">
                <p>
                    <strong>Etkinlik İsmi:</strong> {{ etkinlik.etkinlik_name }}
                </p>
            </div>
            <div class="block">
                <p>
                    <strong>Açıklamasi:</strong> {{ etkinlik.etkinlik_description }}
                </p>
            </div>
            <div class="block">
                <p>
                    <strong>Etkinlik Tarihi:</strong>{{ etkinlik.etkinlik_date }}
                </p>
            </div>
            <div class="block">
                <p>
                    <strong>Etkinlik Sahibi:</strong>{{ etkinlik.etkinlik_owner }}
                </p>
            </div>
            <div class="block">
                <p>
                    <strong>Harcama Kalemi:</strong>
                    {% if etkinlik.etkinlik_tags.all %}{{ etkinlik.etkinlik_tags.all|join:', ' }}{% endif %}
                </p>
            </div>
            <div class="block">
                <p>
                    <strong>Resim:</strong>
                    {% if etkinlik.etkinlik_picture %}
                        <a href="{{ etkinlik.etkinlikk_picture.url }}" target="_blank">Resme Bak</a>
                    {% else %}
                        Resim yok
                    {% endif %}
                </p>
            </div>
            <div class="block">
                {% video etkinlik.etkinlik_youtubelink 'small' %}
                {% comment %} query="&showinfo=0&controls=0&rel=0" {% endcomment %}
                <p>
                    <strong>Link:</strong>
                    {% if etkinlik.etkinlik_youtubelink %}
                        {% comment %} <a href="{{ etkinlik.etkinlik_youtubelink.url }}" target="_blank">Linke Bak</a> {% endcomment %}
                        {{ etkinlik.etkinlik_youtubelink }}
                    {% else %}
                        Link yok
                    {% endif %}
                </p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-primary" href="{% url 'etkinlik_update' etkinlik.pk %}">Etkinliği Düzenle</a>
                </div>
                <div class="control">
                    <a class="button is-link" href="{% url 'etkinlik_list' %}">Etkinlik Listesine Dön</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% comment %} <!-- etkinlik_detail.html -->
<h1>Etkinlik Detail</h1>
<p>
                                                                                                    <strong>Name:</strong> {{ etkinlik.etkinlik_name }}
</p>
<p>
                                                                                                    <strong>Description:</strong> {{ etkinlik.etkinlik_description }}
</p>
<p>
                                                                                                    <strong>YouTube Link:</strong> {{ etkinlik.etkinlik_youtubelink }}
</p>
<!-- Display other fields as needed -->
<a href="{% url 'etkinlik_list' %}">Back to Etkinlik List</a> {% endcomment %}
