{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load widget_tweaks %}
{% block content %}
  

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center fw-bold fs-3">Evrak Oluştur</h1>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Evrak İsmi</label>
                                <div class="control">{{ form.evrak_name | add_class:"form-control" }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Evrak Açıklaması</label>
                                <div class="control">{{ form.evrak_description | add_class:"form-control" }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Evrak Durumu</label>
                                <div class="control">{{ form.evrak_type | add_class:"form-select select2" }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Evrak Resmi</label>
                                <div class="control">{{ form.evrak_picture | add_class:"form-control" }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Evrak Pdf'si</label>
                                <div class="control">{{ form.evrak_pdf | add_class:"form-control" }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Evrak Tagı</label>
                                <div class="control">{{ form.evrak_tags | add_class:"form-select select2" }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-link" href="{% url 'evrak_list' %}">Evrak Listesine Geri Dön</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <div class="column is-half m-auto">
        <div class="box">
            <h1 class="has-text-centered has-text-weight-bold is-size-3">Evrak Olustur</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="label">Evrak Ismi</div>
                    <div class="control">{{ form.evrak_name | add_class:"input" }}</div>
                </div>
                <div class="field">
                    <div class="label">Evrak Aciklamasi</div>
                    <div class="control">{{ form.evrak_description | add_class:"textarea" }}</div>
                </div>
                <div class="field">
                    <div class="label">Evrak Durumu</div>
                    <div class="control">{{ form.evrak_type | add_class:"select2" }}</div>
                </div>
                <div class="field">
                    <div class="label">Evrak Resmi</div>
                    <div class="control">{{ form.evrak_picture | add_class:"" }}</div>
                </div>
                <div class="field">
                    <div class="label">Evrak Pdf'si</div>
                    <div class="control">{{ form.evrak_pdf | add_class:"" }}</div>
                </div>
                <div class="field">
                    <div class="label">Evrak Tagi</div>
                    <div class="control">{{ form.evrak_tags | add_class:"select2" }}</div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">Submit</button>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="{% url 'evrak_list' %}">Evrak Listesine Geri Don</a>
                    </div>
                </div>
            </form>
        </div>
    </div> {% endcomment %}
    <script>
        $(document).ready(function() {
            // Initialize Select2 for kimden_geldi, kime_gitti, tags, currency fields
            $(".select2").select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
    </script>
{% endblock content %}
{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
</form> {% endcomment %}
