{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <!-- delete_evrak.html -->
            <h1 class="has-text-centered is-size-3 has-text-weight-bold">Evrak Silme</h1>
            <br>
            <p>
                <b>{{ object.evrak_name }}</b> isimli evrağı silmek istediğinizden eminmisiniz?
            </p>
            <form method="post">
                {% csrf_token %}
                <br>
                <button class="button is-danger mr-2" type="submit">Sil</button>
                <a class="button is-link" href="{% url 'evrak_list' %}">Evrak Listesine Dön</a>
            </form>
        </div>
    </div>
{% endblock content %}
