{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="column is-half m-auto">
        <h1 class="has-text-centered is-size-3">Evrak Listesi</h1>
        <div class="table-responsive">{% render_table evrak_table %}</div>
        {% comment %} <div class="pagination">
            <span class="step-links">
                {% if evrak_table.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ evrak_table.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current-page">Page {{ evrak_table.page.number }} of {{ evrak_table.page.paginator.num_pages }}.</span>
                {% if evrak_table.has_next %}
                    <a href="?page={{ evrak_table.next_page_number }}">next</a>
                    <a href="?page={{ evrak_table.page.paginator.num_pages }}">last</a>
                {% endif %}
            </span>
        </div> {% endcomment %}
    </div>
{% endblock content %}
{% comment %} <!-- evrak_list.html -->
<h1>Evrak List</h1>
<ul>
                                                                                {% for evrak in evrak_list %}
                                                                                    <li>
            <a href="{% url 'evrak_update' evrak.pk %}">{{ evrak.evrak_name }}</a>
            <a href="{% url 'evrak_delete' evrak.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'evrak_create' %}">Create Evrak</a> {% endcomment %}
