{% extends "base.html" %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h1 class="title has-text-centered">Kullanıcı Girişi</h1>
            {% if messages %}
                {% for message in messages %}<div class="notification is-danger">{{ message }}</div>{% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="username_id">Kullanıcı Adı</label>
                    <div class="control">
                        <input type="text" name="username" id="username_id" class="input" placeholder="Kullanıcı Adı" autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password_id">Şifre</label>
                    <div class="control">
                        <input type="password" name="password" id="password_id" class="input" placeholder="Şifre">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Onay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "app_base/base.html" %}
{% block content %}
    Kullanici Girisi
    <form action="" method="post">
        {% csrf_token %}
        <label for="username_id">Kullanici adi</label>
        <input type="text" name="username" id="username_id" placeholder="kullanici adi" autocomplete="off">
        <label for="password_id">Sifre</label>
        <input type="password" name="password" id="password_id">
        <button type="submit">Onay</button>
    </form>
{% endblock content %} {% endcomment %}
