{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h2 class="title has-text-centered">Grubu Silme İşlemi</h2>
            <div class="content">
                <p>"{{ group.name }}" adlı grubu silmek istediğinizden eminmisiniz ?</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-danger">Evet, Sil</button>
                    </div>
                    <div class="control">
                        <a href="{% url 'grouplist_view_name' %}" class="button is-link">Hayır, İptal</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% block content %}
    <h1>Grubu Silme İşlemi</h1>
    <p>"{{ group.name }}" adlı grubu silmek istediğinizden eminmisiniz ?</p>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <button class="button is-danger" type="submit">Sil</button>
            </div>
        </div>
    </form>
    <a href="{% url 'usergroups_view_name' %}" class="button is-link">İptal</a>
{% endblock %} {% endcomment %}
