{% extends "admin-pro/src/main/index.html" %} {% comment %} {% extends "base.html" %} {% endcomment %} {% load widget_tweaks %} {% block content %}

<div class="row col-md-6 page-titles">
  <div class="col-md-6 align-self-center">
    <h3 class="text-themecolor mb-0">Kullanıcı Düzenle</h3>
  </div>
</div>

<div class="card mx-auto" style="max-width: 600px">
  <div class="card-body">
    <h1 class="card-title text-center">Kullanıcı Düzenle</h1>
    <form method="post">
      {% csrf_token %}
      <!-- Display form field errors -->
      {% for field in form %} {% if field.name == "is_active" %}
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field.value|yesno:"checked," }}>
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% else %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }} {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endif %} {% endfor %}
      <br />
      <div class="form-group">
        <button type="submit" class="btn btn-info">Onay</button>
        {% if muser.is_active %}
        <a href="{% url 'userdelete_view_name' muser.pk %}" class="btn btn-danger {% if not user.is_staff %}disabled{% endif %}" {% if not user.is_staff %}onclick="return false;" {% endif %}>Sil</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% comment %}
<div class="card mx-auto" style="max-width: 600px">
  <div class="card-body">
    <h1 class="card-title text-center">Kullanıcı Düzenle</h1>
    <form method="post">
      {% csrf_token %}
      <!-- Display form field errors -->
      {% for field in form %} {% if field.name == "is_active" %}
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field.value|yesno:"checked," }}>
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% else %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }} {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endif %} {% endfor %}
      <br />
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Onay</button>
        <a href="{% url 'userdelete_view_name' muser.pk %}" class="btn btn-danger {% if not user.is_staff %}disabled{% endif %}" {% if not user.is_staff %}onclick="return false;" {% endif %}>Sil</a>
      </div>
    </form>
  </div>
</div>
{% endcomment %} {% comment %}
<div class="column is-half m-auto">
  <div class="box">
    <h1 class="title has-text-centered">Kullanıcı Düzenle</h1>
    <form method="post">
      {% csrf_token %}
      <!-- Display form field errors -->
      {% for field in form %} {% if field.name == "is_active" %}
      <div class="field">
        <label class="checkbox">{{ field }} {{ field.label_tag }}</label>
        {% if field.errors %}
        <p class="help is-danger">{{ field.errors }}</p>
        {% endif %}
      </div>
      {% else %}
      <div class="field">
        <label class="label">{{ field.label_tag }}</label>
        <div class="control">{{ field|add_class:"input" }}</div>
        {% if field.errors %}
        <p class="help is-danger">{{ field.errors }}</p>
        {% endif %}
      </div>
      {% endif %} {% endfor %}
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Onay</button>
          <a {% if not user.is_staff %}disabled onclick="return false;" {% endif %} class="button is-danger" href="{% url 'userdelete_view_name' muser.pk %}">Sil</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mx-auto" style="max-width: 600px">
  <div class="card-body">
    <h1 class="card-title text-center">Kullanıcı Düzenle</h1>
    <form method="post">
      {% csrf_token %}
      <!-- Display form field errors -->
      {% for field in form %} {% if field.name == "is_active" %}
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field.value|yesno:"checked," }}>
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% else %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }} {% if field.errors %}
        <div class="invalid-feedback d-block">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endif %} {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Onay</button>
        <a href="{% url 'userdelete_view_name' muser.pk %}" class="btn btn-danger {% if not user.is_staff %}disabled{% endif %}" {% if not user.is_staff %}onclick="return false;" {% endif %}>Sil</a>
      </div>
    </form>
  </div>
</div>

{% endcomment %} {% endblock content %}
