{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load widget_tweaks %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h1 class="title has-text-centered">Kullanıcı Düzenle</h1>
            <form method="post">
                {% csrf_token %}
                <!-- Display form field errors -->
                {% for field in form %}
                    {% if field.name == "is_active" %}
                        <div class="field">
                            <label class="checkbox">{{ field }} {{ field.label_tag }}</label>
                            {% if field.errors %}<p class="help is-danger">{{ field.errors }}</p>{% endif %}
                        </div>
                    {% else %}
                        <div class="field">
                            <label class="label">{{ field.label_tag }}</label>
                            <div class="control">{{ field|add_class:"input" }}</div>
                            {% if field.errors %}<p class="help is-danger">{{ field.errors }}</p>{% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Onay</button>
                        <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} class="button is-danger" href="{% url 'userdelete_view_name' muser.pk %}">Sil</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% load widget_tweaks %}
{# Load widget_tweaks library #}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h1 class="title has-text-centered">Kullanıcı Düzenle</h1>
            <form method="post">
                {% csrf_token %}
                <!-- Display form field errors -->
                {% for field in form %}
                    <div class="field">
                        {% if field.label == "Password" %}
                            <label class="label">Şifre</label>
                        {% else %}
                            <label class="label">{{ field.label_tag }}</label>
                        {% endif %}
                        <div class="control">{{ field|add_class:"input" }}</div>
                        {% if field.errors %}<p class="help is-danger">{{ field.errors }}</p>{% endif %}
                    </div>
                {% endfor %}
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Onay</button>
                        <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} class="button is-danger" href="{% url 'userdelete_view_name' muser.pk %}">Sil</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} {% endcomment %}
