{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load widget_tweaks %}
{# Load widget_tweaks library #}
{% block content %}
<div class="row col-md-6 page-titles">
    <div class="col-md-6  align-self-center">
        <h3 class="text-themecolor mb-0">Yeni Kullanıcı Oluştur</h3>
    </div>
</div>
<div class="card col-md-6 mx-auto" >
    <div class="card-body">
        <h4 class="card-title text-center">Yeni Kullanıcı Oluştur</h4>
        <form method="post">
            {% csrf_token %}
            <!-- Display form field errors -->
            {% for field in form %}
                {% if field.name == "is_active" %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" {{ field }}>
                        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {% if field.errors %}<p class="text-danger">{{ field.errors }}</p>{% endif %}
                    </div>
                {% else %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label_tag }}</label>
                        {{ field|add_class:"form-control" }}
                        {% if field.errors %}<p class="text-danger">{{ field.errors }}</p>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-3">
                <button class="btn btn-info" type="submit">Onay</button>
            </div>
        </form>
        
        
    </div>
</div>

{% endblock content %}

