<div class="left-part bg-light dashboard-right-part fixed-left-part">
    <!-- Mobile toggle button -->
    <a class="ri-menu-fill ri-close-fill btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
    <!-- Mobile toggle button -->
    <div class="scrollable position-relative" style="height: calc(100vh - 50px);">
        
        
          <div class="list-group p-3">
      
            <a href="{% url 'usercreate_view_name' %}" class="list-group-item list-group-item-action list-group-item-warning">Yeni kullanıcı oluştur</a>
            <br>
            <a href="{% url 'userlistmasked_view_name' %}" class="list-group-item list-group-item-action list-group-item-warning">Silinen Kullanicilar</a>
               </div>
    </div>
</div>