{% extends "app_base/base.html" %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h1 class="title">Şifre Değişimi</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Eski Şifre</label>
                    <div class="control">
                        <input type="password" name="password_old" class="input" placeholder="Eski Şifre" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Yeni Şifre</label>
                    <div class="control">
                        <input type="password" name="password1" class="input" placeholder="Yeni Şifre" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Yeni Şifre Tekrarı</label>
                    <div class="control">
                        <input type="password" name="password2" class="input" placeholder="Yeni Şifre Tekrarı" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Onay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "app_base/base.html" %}
{% block content %}
    <h1>Sifre Degisimi</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label for="id_password_old">Eski Sifre:</label>
            <input type="password" name="password_old" class="form-input" placeholder="eski sifre" maxlength="128" required id="id_password_old">
        </div>
        <div class="fieldWrapper">
            <label for="id_password1">Yeni Sifre:</label>
            <input type="password" name="password1" class="form-input" placeholder="yeni sifre" maxlength="128" required id="id_password1">
        </div>
        <div class="fieldWrapper">
            <label for="id_password2">Yeni Sifre Tekrari:</label>
            <input type="password" name="password2" class="form-input" placeholder="yeni sifre" maxlength="128" required id="id_password2">
        </div>
        <button type="submit">Onay</button>
    </form>
{% endblock content %} {% endcomment %}
