{% extends "app_base/base.html" %}
{% block content %}
    <div class="column is-half m-auto">
        <div class="box">
            <h1 class="title has-text-centered">Şifre Değişimi</h1>
            {% if messages %}
                {% for message in messages %}<div class="notification is-danger">{{ message }}</div>{% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Eski Şifre</label>
                    <div class="control">
                        <input type="password" name="password_old" class="input" placeholder="Eski Şifre" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Yeni Şifre</label>
                    <div class="control">
                        <input type="password" name="password1" class="input" placeholder="Yeni Şifre" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Yeni Şifre Tekrarı</label>
                    <div class="control">
                        <input type="password" name="password2" class="input" placeholder="Yeni Şifre Tekrarı" maxlength="128" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Onay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
