{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <section class="section">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title">{{ form.instance.pk|default:"Add" }} Currency</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">{% render_field form.name class="input" %}</div>
                        </div>
                        <div class="field">
                            <label class="label">Abbreviation</label>
                            <div class="control">{% render_field form.abbreviation class="input" %}</div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-primary">Save</button>
                            </div>
                            <div class="control">
                                <a href="{% url 'currency_list' %}" class="button is-link">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% block content %}
    <div class="container">
        <section class="section">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h1 class="title">{{ form.instance.pk|default:"Add" }} Currency</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">{{ form.name }}</div>
                            </div>
                            <div class="field">
                                <label class="label">Abbreviation</label>
                                <div class="control">{{ form.abbreviation }}</div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Save</button>
                                </div>
                                <div class="control">
                                    <a href="{% url 'currency_list' %}" class="button is-link">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %} {% endcomment %}
{% comment %} {% extends 'base.html' %}
{% block content %}
    <h1 class="title">{{ form.instance.pk|default:"Add" }} Currency</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button is-primary">Save</button>
        <a href="{% url 'currency_list' %}" class="button is-link">Cancel</a>
    </form>
{% endblock %} {% endcomment %}
