{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="column is-half m-auto">
    <div class="box">
      <h1 class="title has-text-centered">Silme Onayı</h1>
      <p>"{{ object }}" Birimini silmek istediğinizi onaylıyormusunuz ?</p>
      <form method="post">
        {% csrf_token %}
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-danger">Onay</button>
          </div>
          <div class="control">
            <a href="{% url 'currency_list' %}" class="button is-link">İptal</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

