{% extends "app_base/base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Create Group</h2>
        <a href=" {% url "groupcreate_view_name" %} ">create a group</a>
        <br>
        <br>
        <br>
        <br>
        <h2>Groups List</h2>
        <ul class="list-group">
            {% for group in groups %}
                <li class="list-group-item">
                    <a href="{% url 'groupdetail_view_name' group.id %}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
