{% extends "app_base/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="title">Monthly Spendings</h1>
        <form method="get" action="{% url 'monthly_spendings_name' %}">
            <div class="field">
                <label class="label">Select Year:</label>
                <div class="control">
                    <div class="select">
                        <select name="year">
                            {% for year in year_range %}
                                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Select Month:</label>
                <div class="control">
                    <div class="select">
                        <select name="month">
                            {% for month_num, month_name in months_with_numbers %}
                                <option value="{{ month_num }}" {% if month_num == selected_month %}selected{% endif %}>{{ month_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Show Monthly Spendings</button>
                </div>
            </div>
        </form>
        <div class="columns">
            <div class="column">
                <canvas id="spendingsChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    var ctx = document.getElementById('spendingsChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Total Spendings (TL)',
                data: {{ ciktilar_TL|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Total Spendings (Euro)',
                data: {{ ciktilar_Euro|safe }},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            {
                label: 'Total Spendings (Dolar)',
                data: {{ ciktilar_Dolar|safe }},
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            },
            {
                label: 'Total Spendings (GBP)',
                data: {{ ciktilar_GBP|safe }},
                backgroundColor: 'rgba(255, 205, 86, 0.2)',
                borderColor: 'rgba(255, 205, 86, 1)',
                borderWidth: 1
            },
            {
                label: 'Total Spendings (SEK)',
                data: {{ ciktilar_Sek|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
{% endblock content %}
