<ul>
    <li>
        <a href={% url "home_view_name" %}>Home</a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <span>Hello {{ user.username }}</span>
        </li>
    {% endif %}
    {% if user.is_authenticated %}
        <li class="right">
            <a href=" {% url 'passchange_view_name' %} ">Change Password</a>
        </li>
        <li class="right">
            <a href=" {% url 'logout_view_name' %} ">Logout</a>
        </li>
        <li class="right">
            <a href=" {% url 'profile_view_name' %} ">Profile</a>
        </li>
    {% else %}
        <li class="right">
            <a href=" {% url 'login_view_name' %} ">Login</a>
        </li>
    {% endif %}
</ul>
