<div class="menu-container">
    <aside class="menu">
        <!-- ... (your sidebar content) ... -->
        {% comment %} <p class="menu-label">General</p> {% endcomment %}
        <ul class="menu-list">
            <li>
                <a href="{% url 'muuserlist_view_name' %}">Kullanıcılar</a>
            </li>
            <li>
                <a href="{% url 'usergroups_view_name' %}">Kullanıcı Grupları</a>
            </li>
            <li>
                <a href="{% url 'bakiye_view_name' %}">Bakiye</a>
            </li>
            <li>
                <a href="{% url 'home_view_name' %}">Etiketler not yet</a>
            </li>
            <li>
                <a href="{% url 'home_view_name' %}">Geçmiş Hareketler not yet</a>
            </li>
            <li>
                <a href="{% url 'home_view_name' %}">Islemler not yet</a>
            </li>
            <li>
                <a href="{% url 'home_view_name' %}">Yeni Islem</a>
            </li>
        </ul>
    </aside>
</div>
