{% extends "base.html" %}
{% block content %}
    <div class="block mt-4">
        <a class="button is-primary" href="{% url 'muusercreate_view_name' %}">Yeni kullanıcı oluştur</a>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable is-bordered">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Bakiye TL</th>
                    <th>Bakiye Dolar</th>
                    <th>Bakiye Euro</th>
                    <th>Bakiye GBP</th>
                    <th>Bakiye SEK</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.bakiye_TL }}</td>
                        <td>{{ user.bakiye_Dolar }}</td>
                        <td>{{ user.bakiye_Euro }}</td>
                        <td>{{ user.bakiye_GBP }}</td>
                        <td>{{ user.bakiye_Sek }}</td>
                        <td>
                            <a class="button is-link" href="{% url 'muuserupdate_view_name' user.pk %}">Düzenle</a>
                        </td>
                        <td>
                            <a class="button is-danger" href="{% url 'muuserdelete_view_name' user.pk %}">Sil</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">Kayıtlı kullanıcı yok.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% comment %} {% extends "app_base/base.html" %}
{% block content %}
    <div class="block">
        <a class="button" href="{% url 'muusercreate_view_name' %}">Yeni kullanici olustur</a>
    </div>
    <div class="table-container">
        <table class="table">
            <!-- Your table content -->
            <thead>
                <tr>
                    <th>Kullanici Adi</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>bakiye_TL</th>
                    <th>bakiye_Dolar</th>
                    <th>bakiye_Euro</th>
                    <th>bakiye_GBP</th>
                    <th>bakiye_Sek</th>
                    <th>Duzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.username }}</th>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.bakiye_TL }}</td>
                        <td>{{ user.bakiye_Dolar }}</td>
                        <td>{{ user.bakiye_Euro }}</td>
                        <td>{{ user.bakiye_GBP }}</td>
                        <td>{{ user.bakiye_Sek }}</td>
                        <td>
                            <a href="{% url 'muuserupdate_view_name' user.pk %}">Duzenle</a>
                        </td>
                        <td>
                            <a href="{% url 'muuserdelete_view_name' user.pk %}">Sil</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <th>kayitli kullanici yok</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %} {% endcomment %}
