{% extends "app_base/base.html" %}
{% block content %}
    <div class="block">
        <a class="button" href="{% url 'muusercreate_view_name' %}">Yeni kullanici olustur</a>
    </div>
    <div class="table-container">
        <table class="table">
            <!-- Your table content -->
            <thead>
                <tr>
                    <th>Kullanici Adi</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Duzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.username }}</th>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            <a href="{% url 'muuserupdate_view_name' user.pk %}">Duzenle</a>
                        </td>
                        <td>
                            <a href="{% url 'muuserdelete_view_name' user.pk %}">Sil</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <th>kayitli kullanici yok</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
