{% extends "base.html" %}
{% block content %}
    <div class="container">
        <section class="section">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <a href="{% url 'currencycreate_view_name' %}" class="button is-success">Para Birimi Ekle</a>
                    <a href="{% url 'currencylist_view_name' %}" class="button is-success">Para Birimi Listesi</a>
                    <h1 class="title has-text-centered">Silinen Para Birimi Listesi</h1>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>İsmi</th>
                                <th>Kısaltması</th>
                                <th>Eylem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for currency in currencies %}
                                <tr>
                                    <td>{{ currency.name }}</td>
                                    <td>{{ currency.abbreviation }}</td>
                                    <td>
                                        <a href="{% url 'currencyupdate_view_name' currency.pk %}" class="button is-primary">Düzenle</a>
                                        <a href="{% url 'currencydelete_view_name' currency.pk %}" class="button is-danger">Sil</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">Para Birimi Bulunmadı</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
{% comment %} {% extends 'base.html' %}
{% block content %}
    <h1 class="title">Currency List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for currency in currencies %}
                <tr>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.abbreviation }}</td>
                    <td>
                        <a href="{% url 'currency_update' currency.pk %}" class="button is-primary">Edit</a>
                        <a href="{% url 'currency_delete' currency.pk %}" class="button is-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'currency_create' %}" class="button is-success">Add Currency</a>
{% endblock %} {% endcomment %}
