<div class="menu-container">
    <aside class="menu ">
        <!-- ... (your sidebar content) ... -->
        {% comment %} <p class="menu-label">General</p> {% endcomment %}
        <ul class="menu-list ">
            <li>
                <a class="button is-dark has-text-left" href="{% url 'muuserlist_view_name' %}"><span class="iconify" data-icon="dashicons:admin-users"></span>  Kullanıcılar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'usergroups_view_name' %}"><span class="iconify" data-icon="material-symbols:groups"></span>  Kullanıcı Grupları</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'bakiye_view_name' %}"><span class="iconify" data-icon="material-symbols:account-balance-wallet-sharp"></span>  Bakiye</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'tag_list_name' %}"><span class="iconify" data-icon="fa6-solid:tags"></span>  Etiketler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transaction_table_name' %}"><span class="iconify" data-icon="iconamoon:history-duotone"></span>  Geçmiş Hareketler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'monthly_spendings_name' %}"><span class="iconify" data-icon="grommet-icons:money"></span>  Aylik Harcamalar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transaction_list_name' %}"><span class="iconify" data-icon="grommet-icons:transaction"></span> Islemler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transaction_create_name' %}"><span class="iconify" data-icon="mingcute:file-new-fill"></span>  Yeni Islem</a>
            </li>
        </ul>
    </aside>
</div>
