<div class="menu-container">
    <aside class="menu ">
        <!-- ... (your sidebar content) ... -->
        {% comment %} <p class="menu-label">General</p> {% endcomment %}
        <ul class="menu-list ">
            <li class="mt-2">
                <a class="button is-dark has-text-left" href="{% url 'userlist_view_name' %}"><span class="iconify" data-icon="dashicons:admin-users"></span>  Kullanıcılar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'grouplist_view_name' %}"><span class="iconify" data-icon="material-symbols:groups"></span>  Kullanıcı Grupları</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'balance_view_name' %}"><span class="iconify" data-icon="material-symbols:account-balance-wallet-sharp"></span>  Bakiye</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'taglist_view_name' %}"><span class="iconify" data-icon="fa6-solid:tags"></span>  Etiketler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'currencylist_view_name' %}"><span class="iconify" data-icon="grommet-icons:currency"></span>  Para Birimleri</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transactiontable_view_name' %}"><span class="iconify" data-icon="iconamoon:history-duotone"></span>  Geçmiş İşlemler </a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'monthlyspendings_view_name' %}"><span class="iconify" data-icon="grommet-icons:money"></span>  Aylık Harcamalar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url "proventags_view_name" %}">Aylık İspatlı Harcamalar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transactionlist_view_name' %}"><span class="iconify" data-icon="grommet-icons:transaction"></span> Kişisel İşlemler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'transactioncreate_view_name' %}"><span class="iconify" data-icon="mingcute:file-new-fill"></span>  Yeni İşlem</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'etkinlik_list' %}"><span class="iconify" data-icon="material-symbols:youtube-activity"></span> Etkinlikler</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url 'evrak_list' %}"><span class="iconify" data-icon="gg:file-document"></span>  Evraklar</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url "upload_exel_view_name" %}">Exel kullanici yukleme</a>
            </li>
            <li>
                <a class="button is-dark has-text-left" href="{% url "exelusers_list" %}">Exel kullanicilari</a>
            </li>
        </ul>
    </aside>
</div>
