{% extends "admin-pro/src/main/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block filtrepanel %}
<aside class="customizer">
    <a href="javascript:void(0)" class="service-panel-toggle"><i data-feather="settings" class="feather-sm fa fa-spin"></i></a>
    <div class="customizer-body">
        <div class="container">

          
            <form method="get">
                <div class="mb-3">
                    <label for="{{ balance_filter.form.username.id_for_label }}" class="form-label">Kullanıcı</label>
                    <div class="input-group">
                        {{ balance_filter.form.username|add_class:"form-control select2" }}
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </form>
            
            
            
        </div>
        
    </div>
</aside>
{% endblock filtrepanel %}

{% block content %}

<div class="row col-md-6 page-titles">
    <div class="col-md-6  align-self-center">
        <h3 class="text-themecolor mb-0">Bakiye</h3>
    </div>
</div>

<div class="card">
    <div class="card-body text-center">
        <h4 class="card-title">Bakiye</h4>
    </div>
    <div class="table-responsive">{% render_table table %}</div>
</div>


    {% comment %} <div class="column" x-data="{ mufiltre: false }">
        <a class="button is-link" x-on:click="mufiltre = !mufiltre">Filtre</a>
        <div class="box" x-bind:class="{ 'is-hidden': mufiltre }">
            <!-- Filter Form -->
            <form method="get">

                <div class="field">
                    <label class="label" for="{{ balance_filter.form.username.id_for_label }}">Kullanici</label>
                    <div class="control">{{ balance_filter.form.username|add_class:"select select2" }}</div>
                </div>

                <div class="control">
                    <button type="submit" class="button is-primary">Filterele</button>
                </div>
            </form>
        </div>
        {% render_table table %}

    </div> {% endcomment %}

    <script>
        // In your JavaScript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
{% endblock content %}
