{% extends "base.html" %}
{% block content %}
    <div class="column m-auto is-half">
        <div class="container">
            <h1 class="title has-text-centered">Harcama Kalemine Göre Harcama Grafiği</h1>
            <form method="post" action="">
                {% csrf_token %}
                <div class="field is-grouped">
                    <div class="field mr-2">
                        <label class="label">Yıl:</label>
                        <div class="control">
                            <div class="select">
                                <select name="year">
                                    {% for year in years %}
                                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field mr-2">
                        <label class="label">Ay:</label>
                        <div class="control">
                            <div class="select">
                                <select name="month">
                                    {% for month_num, month_name in months.items %}
                                        <option value="{{ month_num }}" {% if month_num == selected_month %}selected{% endif %}>{{ month_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field mr-2">
                        <label class="label">Para Birimi:</label>
                        <div class="control">
                            <div class="select">
                                <select name="currency">
                                    {% for currency in currencies %}
                                        <option value="{{ currency.abbreviation }}" {% if currency.abbreviation == selected_currency %}selected{% endif %}>{{ currency.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field mr-2">
                        <label class="label">&nbsp;</label>
                        <div class="control">
                            <button class="button is-primary" type="submit">Onay</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="chart-container">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const pieChartCanvas = document.getElementById("pie-chart");
            const tagData = JSON.parse('{{ tag_data_json|escapejs }}');
    
            // const labels = tagData.map(entry => entry.tags__name);
            const labels = tagData.map(entry => entry.tags__name || 'etiketsizler');

            const data = tagData.map(entry => entry.miktar);
    
            const pieChart = new Chart(pieChartCanvas, {
                type: "pie",
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: ["#36A2EB", "#FFCE56", "#FF5733", "#C70039", "#900C3F"],
                    }],
                },
            });
        });
    </script>
{% endblock content %}
