{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% block content %}
    {% comment %} <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Apply Filters</button>
    </form>
    {% if filter.qs %}
        <h2>Filtered Results:</h2>
        <ul>
            {% for islemler in filter.qs %}
                <li>
                    <strong>Islem İsmi:</strong> {{ islemler.islem_ismi }}
                    <br>
                    <!-- Add other fields to display here -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %} {% endcomment %}
    <div class="column is-half m-auto" x-data="{ mufiltre: false }">
        <a class="button is-link" x-on:click="mufiltre = !mufiltre">Filtre</a>
        <div class="box" x-bind:class="{ 'is-hidden': mufiltre }">
            <!-- Filter Form -->
            <form method="get">
                <div class="field">
                    <label class="label" for="{{ filter.form.year.id_for_label }}">Yil</label>
                    <div class="control">{{ filter.form.year|add_class:"select select22" }}</div>
                </div>
                <div class="field">
                    <label class="label" for="{{ filter.form.tags.id_for_label }}">Harcama Kalemleri</label>
                    <div class="control">{{ filter.form.tags|add_class:"select select22" }}</div>
                </div>
                <div class="field">
                    <label class="label" for="{{ filter.form.currency.id_for_label }}">Para Birimi</label>
                    <div class="control">{{ filter.form.currency|add_class:"select select22" }}</div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary">Filterele</button>
                </div>
            </form>
        </div>
        {% comment %} <h1 class="has-text-centered has-text-weight-bold is-size-3">ExcelKullanıcı Listesi</h1> {% endcomment %}
        <div class="table-responsive">{% render_table table %}</div>
    </div>
    <script>
        // In your JavaScript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select22').select2({
                placeholder: "Seçiniz",
                allowClear: true,
                width: '100%',
            });
        });
</script>
{% endblock content %}
