{% extends "base.html" %}
{% block content %}
    <div class="column m-auto">
        <div class="block">
            <a class="button is-primary" href="{% url 'muusercreate_view_name' %}">Yeni kullanıcı oluştur</a>
        </div>
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable is-bordered">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        {% for currency in currencies %}<th>{{ currency.name }} Bakiye</th>{% endfor %}
                        <th>Düzenle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            {% for currency in currencies %}<td>{{ user_balances.user.currency }}</td>{% endfor %}
                            <td>
                                <a class="button is-link" href="{% url 'muuserupdate_view_name' user.pk %}">Düzenle</a>
                            </td>
                            <td>
                                <a class="button is-danger" href="{% url 'muuserdelete_view_name' user.pk %}">Sil</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">Kayıtlı kullanıcı yok.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% block content %}
    <div class="block mt-4">
        <a class="button is-primary" href="{% url 'muusercreate_view_name' %}">Yeni kullanıcı oluştur</a>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable is-bordered">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            <a class="button is-link" href="{% url 'muuserupdate_view_name' user.pk %}">Düzenle</a>
                        </td>
                        <td>
                            <a class="button is-danger" href="{% url 'muuserdelete_view_name' user.pk %}">Sil</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">Kayıtlı kullanıcı yok.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %} {% endcomment %}
