{% extends "base.html" %}
{% block content %}
    <div class="column m-auto">
        <div class="block">
            <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} class="button is-primary" href="{% url 'muusercreate_view_name' %}">Yeni kullanıcı oluştur</a>
        </div>
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable is-bordered">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Düzenle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    {% for muser in users %}
                        <tr>
                            <td>{{ muser.username }}</td>
                            <td>{{ muser.first_name }}</td>
                            <td>{{ muser.last_name }}</td>
                            <td>
                                <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} class="button is-link" href="{% url 'muuserupdate_view_name' muser.pk %}">Düzenle</a>
                            </td>
                            <td>
                                <a {% if not user.is_staff %}disabled onclick="return false;"{% endif %} class="button is-danger" href="{% url 'muuserdelete_view_name' muser.pk %}">Sil</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">Kayıtlı kullanıcı yok.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
